# Python Tutorial
***

### <u> Starting Python </u>
* Type python3 or python3.8 on command prompt/shell

### <u> Exiting Python </u>
* Ctrl-D(Unix) or Ctrl-Z
* exit() 
* quit()

***

## Introduction to Python

### Numbers

In [1]:
# This is how we write comment in Python
2 + 2 # Comment can be written after the code as well

4

In [2]:
8 / 5 # division always returns floating point number

1.6

In [3]:
17 // 3 # // operator return int as the result

5

In [4]:
17 % 3 # % operator retuns the remainder

2

In [5]:
5 ** 2 # 5 to the power 2

25

In [6]:
n # try to access an undefined variable. you will get error

NameError: name 'n' is not defined

In [7]:
# Integers are auto converted to float before doing any calculation. 
4 * 3.75 - 1

14.0

In [8]:
# In interactive mode the last printed expression is 
# assigned to the variable _
tax = 12.5 / 100
price = 100.50
price * tax
price + _  

# However this variable should be used as read only _ . If value 
# assigned to it, it will mask the standard _ and create a copy of it. 
# Then it's magic behavior will disappear.

114.5

In [9]:
# Beside int and float, Python also supports Decimal and Fraction types. 
# Python also has support for complex numbers like 3+5j or 3+5J

<hr />

### Strings

In [10]:
# String can be written in single or double quotes
'doesn\'t' # \ can be used to escapte ' or "
"doesn't" # ' can be used inside " and vice versa

"doesn't"

In [11]:
# print() function is more useful to print strings as it removes the 
# enclosing quotes and shows the formatted data. 
print('"Isn\'t," they said')

"Isn't," they said

In [12]:
s = 'First line. \nSecond line.'
s

'First line. \nSecond line.'

In [13]:
print(s) # See the diference!

First line.
Second line.

In [14]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [15]:
# Using r before the string makes it raw string and it will be 
# outputted as it is. 
print(r'C:\some\name')

C:\some\name

In [19]:
# String literals can span multiple lines. One way is using triple quotes 
# """...""" or '''...'''. End of line is automatically included in the 
# string but it's possible to prevent this by adding a \ at the end of the line. 
print("""\
Usage : thingy [OPTIONS]
     -h              Display this usage message
     -H hostname     Hostname to connect to
""")

Usage : thingy [OPTIONS]
     -h              Display this usage message
     -H hostname     Hostname to connect to

In [20]:
# Strings can be concatenated with the + operator and repeated with *
3 * 'un' + 'ium' # 3 times un followed by ium

'unununium'

In [21]:
# Two or more string literals next to each other are automatically concatendated.
'Py' 'thon'

'Python'

In [22]:
# This is useful while trying to break long strings
text = ('Put sevaral strings '
        'within parentheses'
       ' to have thme joined together')
text

'Put sevaral strings within parentheses to have thme joined together'

In [23]:
# This only works with two literals though, 
# Not with variables 
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-23-faa9ddee208a>, line 4)

In [24]:
# Nor will this work with expression
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-24-3f577350fbb0>, line 2)

In [25]:
# This will work
prefix = 'My Py'
prefix + 'thon'

'My Python'

In [26]:
# Strings can be indexed with the first characters having index 0. 
# There is no separate character type; a character is simply a string with size 1. 
word = 'Python'
word[0]

'P'

In [27]:
# Negative index allowed. -0 is same as 0
word[-1]  # -1 tells the Last character.

'n'

In [28]:
word[-6] # 6th character from last

'P'

In [29]:
# Slicing of strings is also supported. It provides us substrings. 
word[2:5] # Chracters from position 2 (included) to 5 (excluded)

'tho'

In [30]:
# s[:i] + s[i:] = s
word[:2] + word[2:] # this is equal to word

'Python'

In [31]:
# An ommited first index defaults to 0, an ommited second index
# defaults to size of the string being sliced. 
word[:2]

'Py'

In [32]:
word[4:]

'on'

In [33]:
word[-2:] # chracters from second last (included) to the end

'on'

In [34]:
# Attempting to use an index that is too large gives error
word[42]

IndexError: string index out of range

In [35]:
# But no such error during slicing operations
word[4:42]

'on'

In [36]:
word[42:] # Null string but no error

''

In [37]:
# Python String are immutable. Hence we can't change value of a particular
# index. 
word[0] = 'J' # Gives error

TypeError: 'str' object does not support item assignment

In [38]:
word[2:]

'thon'

In [39]:
# If we need a different string, we should create a new one. 
'J' + word[1:]

'Jython'

In [40]:
word[:2] + 'py'

'Pypy'

In [41]:
s = 'supercalifragilisticexpialidocious'
len(s) # built-in len() functions returns the length of the string.

34

***

### Lists

In [42]:
# A list can contain items of different types, but usually they have same type.

# A list is created by simpling listing items as csv between [ ]
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [43]:
# Like Strings, lists can be indexed and sliced. 
squares[0] # Indexing returns the item

1

In [44]:
squares[-1]

25

In [45]:
squares[-3: ]

[9, 16, 25]

In [47]:
squares[ : ] # Shallow copy of squares itself

[1, 4, 9, 16, 25]

In [48]:
# List also supports concatenation
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# Lists are mutable (unlike strings). It means their content can be changed
cubes = [1, 8, 27, 65, 125] # something wrong!
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [50]:
# append() method can be used to add new items at the end of the list. 
cubes.append(216)
cubes.append(7 ** 3)
cubes

[1, 8, 27, 64, 125, 216, 343]

In [51]:
# Assignment to slices is also possible
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [52]:
letters[2 : 5] = [] # This simply removes these middle items
letters

['a', 'b', 'f', 'g']

In [53]:
# This kind of clears the list by replacing all items with an empty list
letters[:] = []
letters

[]

In [54]:
letters = ['a', '1', 'yo', 'man', '#2#$#@']
len(letters) # len() also works for lists

5

In [55]:
# Nesting of Lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [56]:
x[0]

['a', 'b', 'c']

In [57]:
x[0][1]

'b'

***
## Control Flow Statements

### If Statement

In [59]:
# Here we are taking the input from user, converting to integer and then
# assigning to x
x = int(input("Please enter an integer: "))

Please enter an integer:  123

In [60]:
# Python doesn't have switch case construct!!
if x < 0: 
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else: 
    print('More')

More

### While Loop

In [61]:
# Creating a Fibonacci Series

a, b = 0, 1 # multiple assignments
while a < 10: # Any non zero value or sequence of non-zero length considered true for evaluation purpose
    print(a)   # Python uses indentation to group statements
    a, b = b, a+b  # RHS expressions evaluated first (but from left to right)
    
    
# Note: 
# Indentation should be done by equal amount for each line.

0
1
1
2
3
5
8

In [62]:
# print( ) function can take multiple arguments as well. 
i = 256 * 256
print('The value of i is', i)

The value of i is 65536

In [63]:
# The keyword argument end can be used to avoid the newline after the output. 
# or end the output with a different string. 
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a + b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

### for loop

In [64]:
# for loop is used to iterate over any sequence(a list or a string).
# this is slightly different from how we use it in C like languages
words = ['cat', 'window', 'defenstrate']
for w in words: 
    print(w, len(w))

cat 3
window 6
defenstrate 11

### range() function

In [65]:
# In built function range() can be used if we need to iterate over numbers
for i in range(5): # Generates a sequence of numbers from 0 to 4
    print(i)

0
1
2
3
4

In [66]:
# Generate sequence from 5 to 9
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [67]:
# Generate sequence  0<=num<10 with step of 3
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [68]:
# Generate sequence  -10>=num> -100 with step of -30
for i in range(-10, -100, -30):
    print(i)

-10
-40
-70

In [69]:
# Iterate over indices of sequence: 
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [72]:
# range() function doesn't really return a list of numbers! 
# It returns an object which is iterable, so it suitable for functions &
# constructs which expect something to iterate over
print(range(10))

range(0, 10)

In [73]:
# function taking an iterable as argument:
sum(range(4)) # 0 + 1 + 2 + 3

6

In [74]:
# To actually get a list of numbers, use following : 
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### break and else statement in loops

In [75]:
# break statement breaks out of the innermost enclosing of for or while loop.

# An else statement can also be used in loops. else is executed after 
# exhaustion of iterable in for loop or when condition becomes false in while
# loop. But else is not executed when loop breaks out due to break statement!

# Determine prime numbers:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n // x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

### continue statement

In [76]:
# Continue statement continues the next iteration of the loop without
# executing the remaining statements in the loop in current iteration. 

for number in range(2, 10):
    if number % 2 == 0:
        print("Found an even number", number)
        continue
    print("Found a odd number", number)

Found an even number 2
Found a odd number 3
Found an even number 4
Found a odd number 5
Found an even number 6
Found a odd number 7
Found an even number 8
Found a odd number 9

### pass statement

In [1]:
# pass statement does nothing. It can be used as a placeholder statement. 
# while True : # this is an infinite loop. Can be terminated with Ctrl+C
#    pass

KeyboardInterrupt:

In [3]:
# pass statement can be used as placeholders for class and functions . 
class MyEmptyClass:
    pass

def initlog(*args):
    pass  # Remember to implement this!

### Functions

In [4]:
# Keyword def is used to define the function
# The first argument can be an optional function's string called docstring.
# docstring is used to provide function's documentation, so it's a good 
# practicse to use docstring. 

# Defining own function with custom argument to generate fibonacci series. 
def fib(n):       
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()
    
# Calling the function    
fib(200)

0 1 1 2 3 5 8 13 21 34 55 89 144

* Execution of function creates a new symbol table for local variables. 
* A Function definition introduces the function name in the current symbol table. 
* Arguments are saved in the local symbol table of called function. 
* When a variable is referenced, python first checks in local symbol table,then symbol table of enclosing function, then global symbol table, and finally in in-built . So global variables and variables of enclosing functions can't be assigned any value directly in the current function. 
* Functions are called by value (precisely should be call by object reference).

In [5]:
# A Function name also has a type 
fib

In [6]:
# A Function can be reassigned to another variable. 
f = fib
f

In [7]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [8]:
# Every function returns a value. If no explicit value is returned, then 
# function automatically returns None. This is supressed by interpreter, so
# not seen to us by default. 
fib(0)

In [9]:
# To actually see that value we can use print()
print(fib(0))

None

In [10]:
# return keyword returns the value from function. If no value specified, 
# it returns None. If no explicit return mentioned, then return called when
# function finishes. 

# append is a predefined method for list type. 
# result.append(a) is equivalent to result = result + [a]

def returnFib(n):
    a, b = 0, 1
    my_list = []
    while a < n:
        my_list.append(a) 
        a, b = b, a + b
    
    return my_list

fib10 = returnFib(10)
fib10

[0, 1, 1, 2, 3, 5, 8]

In [12]:
# Default arguments in Functions

# in keyword checks whether or not a certain value present in a sequence

def ask_ok(prompt, retries = 4, reminder = 'Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

ask_ok('Do you really want to quit?') # Only mandatory argument

Do you really want to quit? n

False

In [13]:
ask_ok('Ok to write the file?', 2) # specify one optional argument

Ok to write the file? y

True

In [14]:
# Specify both optional arguments
ask_ok('OK to write the file', 2, 'Come on, only yes or no')

OK to write the file h

Come on, only yes or no

OK to write the file n

False

In [15]:
# Default value evaluated at the point of function definition in the 
# defining scope

i = 5

def fun(arg = i):
    print(arg)
    
i = 6
fun()

5

In [16]:
# The default value is evaluated only once. It means for mutable objects, 
# subsequent call to the function accumulates the value in the object. 
# See below : 

def f(a, L=[]):
    L.append(a)
    return L

print(f(1))

[1]

In [17]:
print(f(2))

[1, 2]

In [18]:
print(f(3))

[1, 2, 3]

In [19]:
# To avoid default being shared between function calls, we can write like:

# NEED TO UNDERSTAND THIS. 

def f2(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f2(1))

[1]

In [20]:
print(f2(2))

[2]

In [21]:
# functions called by keyword arguments of the form kwarg=value

def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
    
#These will work
parrot(action='VOOOOOM', voltage=1000000)
print()
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [22]:
# This will not work. Keyword argument Must follow positional arguments.
parrot(voltage=5.0, 'dead')

SyntaxError: positional argument follows keyword argument (<ipython-input-22-0d31295a7c50>, line 2)

In [23]:
# Special arguments

# Here kind is formal parameter
# *arguments is a tuple
# **keywords is a dictionary
def cheeseshop(kind, *arguments, **keywords): 
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    
    print("-" * 40)
    for arg in arguments:
        print(arg)
        
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
----------------------------------------
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [24]:
# Special function parameters
# If / and * are present in the function definition then it follows :

def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
    pass

# pos1, pos2 : positional only parameters
# pos_or_kwd : positional or keyword parameters
# kwd1, kwd2:  keyword only parameters

# If / and * are not supplied then any parameters can be positional or keyword.

In [25]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

**As guidance**:

Use positional-only if you want the name of the parameters to not be 
available to the user. This is useful when parameter names have no real 
meaning, if you want to enforce the order of the arguments when the 
function is called or if you need to take some positional parameters 
and arbitrary keywords.

Use keyword-only when names have meaning and the function definition is
more understandable by being explicit with names or you want to prevent 
users relying on the position of the argument being passed.

For an API, use positional-only to prevent breaking API changes if the
parameterâ€™s name is modified in the future.

In [30]:
# Unpacking arguments 
# when the arguments are already in a list or tuple but need to be unpacked 
# for a function call requiring separate positional arguments.

# The tuples can be passed like below : 

# Normal way
list(range(3, 6))

[3, 4, 5]

In [35]:
# Tuple way
args = [3, 6]
#args

list(range(*args))

[3, 4, 5]

In [36]:
# Dictionaries can be passed like below : 
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

#### Lambda

In [37]:
# Lambda expressions are small anonymous functions defined in one expression.
# They can be used where function objects are requried.

# Lambda expressions like normal functions can reference variables 
# from containining scope. 

# return a function
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(1)

43

In [38]:
# Pass function as an argument. 
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key = lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

#### Documentation Strings

In [39]:
# First line should always be a short, concise summary of the object's purpose. 
# Second line to be left blank. 
# Remaining lines tell about the rest of the function's purpose. The 
# indentation of the first line from here determines the indentation of 
# the whole paras of summary. 


def my_function():
    """Do nothing, but document this function. 
    
    No, really, this function does absolutely nothing. 
    
    """
    pass

print(my_function.__doc__)

Do nothing, but document this function.

    No, really, this function does absolutely nothing.

#### Function Annotations

In [40]:
# Functional Annotations are optional metadata information about the types
# used by the user-defined functions. Annotations are stored in the __annotations__
# attribute of the function as a dictionary. 
# Parameters are annotated by : and return object by -> 

def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations: ", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations:  {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

### Coding Style

For Python, PEP 8 has emerged as the style guide that most projects adhere to; it promotes a very readable and eye-pleasing coding style. Every Python developer should read it at some point; here are the most important points extracted for you:

* Use 4-space indentation, and no tabs.

* Wrap lines so that they donâ€™t exceed 79 characters.

* Use blank lines to separate functions and classes, and larger blocks of code inside functions.

* When possible, put comments on a line of their own.

* Use docstrings.

* Use spaces around operators and after commas, but not directly inside bracketing constructs: a = f(1, 2) + g(3, 4).

* Name your classes and functions consistently; the convention is to use UpperCamelCase for classes and lowercase_with_underscores for functions and methods. Always use self as the name for the first method argument.

***
## Data Structures

### Lists

In [41]:
# List methods

fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

# count returns the number of times x appears in the list
fruits.count('apple')

2

In [42]:
fruits.count('tangerine')

0

In [43]:
# list.index(x[,start[,end]])

# Return zero-based index in the list of the first item whose value is 
# equal to x. Raises a ValueError if there is no such item.

# The optional arguments start and end are interpreted as in the slice 
# notation and are used to limit the search to a particular subsequence of
# the list. The returned index is computed relative to the beginning of the
# full sequence rather than the start argument.

fruits.index('banana')

3

In [44]:
fruits.index('banana', 4)

6

In [47]:
# Reverse the elements of the list in place
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [48]:
# Add item at end of the list. 
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [49]:
# Sort the items in place
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [50]:
# Remove the items a the given position in the list and return it. If no 
# index speicified, a.pop() removes and returns the last item in the list.
fruits.pop()

'pear'

In [51]:
# Returns a shallow copy of the list. 
fruits2 = fruits.copy()
fruits2

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [52]:
# Removes all items  from the list. Equivalent to del a[:]
fruits2.clear()
fruits2

[]

In [53]:
# Insert the item at specified position. 
fruits.insert(2, 'orange')
fruits

['apple', 'apple', 'orange', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [54]:
# Removes the first such item in the list if found else gives ValueError
fruits.remove('orange')
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

insert, remove, sort methods only modify the list but not return it. They
only return the default None. So method chaining can't be used here. 

Also not all data can be sorted. Eg. [None, 'hello', 10, 3+4j]
Here none of the values can be compared with each other.

#### Using Lists as Stacks

In [56]:
# Stacks are LIFO (List in First Out) Data Structures. 
# Items can be added using list.append() and removed using list.pop()

stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [57]:
stack.pop()
stack

[3, 4, 5, 6]

#### Using Lists as Queues

In [58]:
# Lists are not that efficient for Queues (FIFO) data structure, as all 
# elements have to be shift by 1. 
# To implement Queue, use collections.deque which is designed for fast 
# append and pops from both ends. 


from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Merry")
queue.popleft()

'Eric'

In [59]:
queue

deque(['John', 'Michael', 'Terry', 'Merry'])

#### List Comprehensions

List Comprehensions is used to generate a list by applying operation on 
each element of an existing list. 

A list comprehension consists of brackets containing an expression 
followed by a `for` clause, then zero or more `for` or `if` clauses. The 
result will be a new list resulting from evaluating the expression in 
the context of the `for` and `if` clauses which follow it.

In [61]:
# Create List of square of numbers : 
squares = [x ** 2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
# Create a list by combining unequal elements from existing 2 lists. 
unequal_list = [(x,y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]
unequal_list

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [63]:
vec = [-4, -2, 0, 2, 4]

# List of values doubled
[x * 2 for x in vec]

[-8, -4, 0, 4, 8]

In [64]:
# Filter list to exclude negative value
[x for x in vec if x>=0 ]

[0, 2, 4]

In [65]:
# Apply a function to all elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [66]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# List Comprehension can contain complex expressions and nested functions
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [68]:
# Nested List Comprehension
# The initial expression of List Comprehension can be another List Comprehension

# A 3x4 matrix
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

# To manually transpose the Matrix
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### del statement

In [69]:
# del statement can be used to remove an element, a slice or entire list. 
# It doesn't return anything. 

a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [70]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [71]:
del a[:]
a

[]

In [72]:
# Delete can also be used to delete an entire variable
del a   # a may or many not be empty
a # This does not exist in memory now.

NameError: name 'a' is not defined

### Tuples and Sequences

In [74]:
# Sequence types: List, Strings, Tuples. 

# A tuple consists of a number of values separated by commas. 
# Note: A tuple is surrounded by (), while List by []

t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [75]:
t[0]

12345

In [76]:
# Tuples can be nested
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [77]:
# Tuples are immutable unlike List : 
t[0] = 88888  # Error!

TypeError: 'tuple' object does not support item assignment

In [78]:
# Tuples and Lists can be combined. 
# Here tuple is not mutable but its individual objects are mutable!
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [79]:
# Tuples are usually heterogenous and accessed by unpacking or indexing. 
# Lists are usually homogeneous and accessed by interating over the list. 
x = [(1, 2, 3), (3, 2, 1)]
x

[(1, 2, 3), (3, 2, 1)]

In [80]:
# An Empty tuple can be created by empty parenthesis
empty = ()
empty

()

In [81]:
len(empty)

0

In [82]:
# A tuple with single item can't be created like below
not_single_tup = ('yolo')
type(not_single_tup)

str

In [83]:
# It must be created like below : 
single_tup = 'yoloman',   # Notice comma at the end!
type(single_tup)

tuple

In [86]:
single_tup

('yoloman',)

In [89]:
double_tup = "my", "good"
double_tup

('my', 'good')

In [90]:
# Tuple packing (the brackets not required for more than 1 records)
t = 12345, 54321, 'hello!'

In [91]:
# Tuple 'Sequence unpacking'. 
# There must be as many variables on the left as elements in tuple or 
# else it will throw error. 
x, y, z = t
print(x, y, z, end = ' ')

12345 54321 hello!

### Sets

In [92]:
# Python also has data type for Sets. A Set is an unordered collection with no
# duplicate elements. It supports union, intersection, difference operations. 

# Curly braces or the set() function can be used to create sets. 
# An empty set can only be created using set() function. 
# Empty {} will end up creating a dictionary. 

basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'pear', 'banana', 'apple'}

In [93]:
# Membership testing
'orange' in basket

True

In [94]:
'crabgrass' in basket

False

In [95]:
# Only unique letters stored in set. Morever it got sorted automatically. 
a = set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [96]:
b = set('alacazam')
b

{'a', 'c', 'l', 'm', 'z'}

In [97]:
a - b  # Letters in a but not in b

{'b', 'd', 'r'}

In [98]:
a | b   # Letters in a or b or both (UNION operation)

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [99]:
a & b  # Letters in both a and b (Intersection Operation)

{'a', 'c'}

In [100]:
a ^ b # Leters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [101]:
# Set Compreshion also supported just like List Comprehension. 
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictionaries

Dictionary can be used as a set of key:value pairs, and keys must be unique.
Placing a comma-separated list of key:value pairs within the braces adds 
initial key:value pairs to the dictionary. 

If you store value with existing key, then previous value of the key is replaced.
Extracting value with an non-existing key gives error. 

Unlike Sequence, which are indexed by a range of numbers, dictionaries are
indexed by keys. Keys can be any immutable type like numbers, strings or 
tuple of number, strings and/or tuples. Lists can't be used as keys.

In [104]:
tel = {'jack' : 4098, 'sape' : 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [105]:
tel['jack']

4098

In [106]:
# It is also possible to delete a key:value pair with del. 
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [107]:
tel['irv'] = 4127

# list() can be used to get list of keys in inserted order
list(tel)

['jack', 'guido', 'irv']

In [108]:
# sorted() can be used to get the list of keys in sorted order
sorted(tel)

['guido', 'irv', 'jack']

In [109]:
# in can be used to check if any key present in dictionary
'guido' in tel

True

In [110]:
'ram' in tel

False

In [111]:
# dict() can be used to build dictionies from sequence of key-value pairs. 
my_dict = dict([('sape', 4139), ('guido', 4127), (420, 23432), ('420', 2342)])

In [112]:
my_dict[420]

23432

In [113]:
my_dict['420']

2342

In [114]:
# Dictionary Comprehension
{x:x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

### Looping Techniques

In [115]:
# When looping through dictionaries, the key and corresponding value can be 
# retrieved at the same time using the items() method.

knights = {'ram': 'ghanshyam', 'robin': 'hood'}

for k, v in knights.items():
    print(k, v)

ram ghanshyam
robin hood

In [116]:
# When looping through a sequence, the position index and corresponding value
# can be retrieved at the same time using the enumerate() function.
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [117]:
# To loop over two or more sequences at the same time, the entries can be 
# paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}'.format(q, a))

What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favorite color? It is blue

In [118]:
# To loop over sequence in reverse use reversed() function. 

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [119]:
# To loop over sequence in sorted order used sorted() function. Source sequence
# is not touched. 

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for fruit in sorted(set(basket)):
    print(fruit)

apple
banana
orange
pear

In [120]:
# We should always prefer to create a new list instead of changing a list while
# looping over it. 

import math
raw_data = [56.2, float('NaN'), 51.7, 55, 52.5, float("NAN"), 47]
raw_data

[56.2, nan, 51.7, 55, 52.5, nan, 47]

In [121]:
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
    
filtered_data

[56.2, 51.7, 55, 52.5, 47]

### Conditions

* The comparison operators in and not in check whether a value occurs (does not occur) in a sequence. 
* The operators is and is not compare whether two objects are really the same object; this only matters for mutable objects like lists. 

* All comparison operators have the same priority, which is lower than that of all numerical operators.

* Comparisons can be chained. For example, a < b == c tests whether a is less than b and moreover b equals c.

* Comparisons may be combined using the Boolean operators _and_ and _or_, and the outcome of a comparison (or of any other Boolean expression) may be negated with _not_. These have lower priorities than comparison operators; between them, _not_ has the highest priority and _or_ the lowest. As always, parentheses can be used to express the desired composition.

* The Boolean operators _and_ and _or_ are so-called short-circuit operators: their arguments are evaluated from left to right, and evaluation stops as soon as the outcome is determined. For example, if A and C are true but B is false, A and B and C does not evaluate the expression C. When used as a general value and not as a Boolean, the return value of a short-circuit operator is the last evaluated argument.

In [122]:
string1, string2, string3 = '', 'Ram', 'Shyam Tiwari'
non_null = string1 or string2 or string3
non_null  # This does not evaulate to True or false but last true argument.

'Ram'

In [123]:
my_null = string1 and string2 and string3
my_null

''

### Comparing Sequence and Other Types. 

Sequence objects typically may be compared to other objects with the same sequence type. 

* The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. 
* If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively. 
* If all items of two sequences compare equal, the sequences are considered equal. 
* If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one. 

* Comparing objects of different types with < or > is legal provided that the objects have appropriate comparison methods. For example, mixed numeric types are compared according to their numeric value, so 0 equals 0.0, etc. Otherwise, rather than providing an arbitrary ordering, the interpreter will raise a TypeError exception.

In [ ]:
# Below comparisions are all true. 
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

***
## Modules

A Module is a file containing Python definition and statements. The file name is the module name with the .py extension name. Within a module, the module name is available as a global variable `__name__`. 

A Module is created to allow function definitions to put in a separate file. Definition from the module can be _imported_ in other modules or into the main module (which is collection of variable we have access to at top level of our script).

In [ ]:
# We created a separete file called fibo.py along with this notebook. 

# Now importing the module below. 
import fibo

In [ ]:
# import module won't provide access to all the functions inside the module
# directly. It only imports the module name in the current symbol table. Using
# module name we can access the functions. 

fibo.fib(1000)

In [ ]:
fibo.ret_fib(1000)

In [ ]:
fibo.__name__

In [ ]:
# We can assign the function name to a local variable if we can to access it
# multiple times. 

my_fib = fibo.fib
my_fib(5000)

### More about Modules

* A module can contain executable statements as well as function definitions. These statements are intended to initialize the module. They are executed only the first time the module name is encountered in an import statement.

* Each module has its own private symbol table, which is used as the global symbol table by all functions defined in the module. Thus, the author of a module can use global variables in the module without worrying about accidental clashes with a userâ€™s global variables. 
* We can also reference a particular module's global variables with the same notation used to refer to its functions, modname.itemname.
* Modules can import other modules. 
* It is customary but not required to place all import statements at the beginning of a module (or script, for that matter). 
* The imported module names are placed in the importing moduleâ€™s global symbol table.

***
## Classes

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods for modifying its state.

* Python classes provide all the standard features of Object Oriented Programming like the class inheritance. 
* Classes are created at runtime, and can be modified further after creation.

* Normally class members are publicand all member functions are virtual. 
* There are no shorthands for referencing the objectâ€™s members from its methods: the method function is declared with an explicit first argument representing the object, which is provided implicitly by the call. 
* Classes themselves are objects. This provides semantics for importing and renaming. 
* Built-in types can be used as base classes for extension by the user. 
* Most built-in operators with special syntax (arithmetic operators, subscripting etc.) can be redefined for class instances.

* Multiple names (in multiple scopes) can be bound to the same object. This is known as *aliasing* in other languages. 
* Aliases behave like pointers in some respects. For example, passing an object is cheap since only a pointer is passed by the implementation; and if a function modifies an object passed as an argument, the caller will see the change.

### Python Namespaces

* A namespace is a mapping from names to objects. Most namespaces are currently implemented as Python dictionaries, but it may change in the future. 
* Examples of namespaces are: the set of built-in names (containing functions such as abs(), and built-in exception names); the global names in a module; and the local names in a function invocation. In a sense the set of attributes of an object also form a namespace. 
* The important thing to know about namespaces is that there is absolutely no relation between names in different namespaces; for instance, two different modules may both define a function maximize without confusion â€” users of the modules must prefix it with the module name.

* In the expression modname.funcname, modname is a module object and funcname is an attribute of it. 

* Module attributes are writable: you can write modname.the_answer = 42. Writable attributes may also be deleted with the del statement. For example, del modname.the_answer will remove the attribute the_answer from the object named by modname.

* Namespaces are created at different moments and have different lifetimes. 
    * The namespace containing the built-in names is created when the Python interpreter starts up, and is never deleted. The built-in name live in module called `builtins`. 
    * The global namespace for a module is created when the module definition is read in; normally, module namespaces also last until the interpreter quits. 
    * The statements executed by the top-level invocation of the interpreter, either read from a script file or interactively, are considered part of a module called `__main__`, so they have their own global namespace.
    * The local namespace for a function is created when the function is called, and deleted when the function returns or raises an exception that is not handled within the function. 
    * Of course, recursive invocations each have their own local namespace.

### Scope

* A scope is a textual region of a Python program where a namespace is directly accessible. â€œDirectly accessibleâ€ here means that an unqualified reference to a name attempts to find the name in the namespace.

*  At any time during execution, there are at least three nested scopes whose namespaces are directly accessible:

    * the innermost scope, which is searched first, contains the local names

    * the scopes of any enclosing functions, which are searched starting with the nearest enclosing scope, contains non-local, but also non-global names

    * the next-to-last scope contains the current moduleâ€™s global names

    * the outermost scope (searched last) is the namespace containing built-in names

If a name is declared global, then all references and assignments go directly to the middle scope containing the moduleâ€™s global names. To rebind variables found outside of the innermost scope, the nonlocal statement can be used; if not declared nonlocal, those variables are read-only (an attempt to write to such a variable will simply create a new local variable in the innermost scope, leaving the identically named outer variable unchanged).

Usually, the local scope references the local names of the (textually) current function. Outside functions, the local scope references the same namespace as the global scope: the moduleâ€™s namespace. Class definitions place yet another namespace in the local scope.

It is important to realize that scopes are determined textually: the global scope of a function defined in a module is that moduleâ€™s namespace, no matter from where or by what alias the function is called. On the other hand, the actual search for names is done dynamically, at run time â€” however, the language definition is evolving towards static name resolution, at â€œcompileâ€ time, so donâ€™t rely on dynamic name resolution! (In fact, local variables are already determined statically.)

A special quirk of Python is that â€“ if no global or nonlocal statement is in effect â€“ assignments to names always go into the innermost scope. Assignments do not copy data â€” they just bind names to objects. The same is true for deletions: the statement del x removes the binding of x from the namespace referenced by the local scope. In fact, all operations that introduce new names use the local scope: in particular, import statements and function definitions bind the module or function name in the local scope.

The global statement can be used to indicate that particular variables live in the global scope and should be rebound there; the nonlocal statement indicates that particular variables live in an enclosing scope and should be rebound there.