# R Intro


* R is an opensource tool for statistical and programming tasks.
* Rich in statistical and graphical methods.
* R is used for Statistical Inference, Data Analysis and Machine Learning.
* There are collection of libraries designed specifically for data science.
* It’s a case sensitive language which mean “a” and “A” are different.

In [1]:
# Below is simple line to print something. And this is a comment. 
"Hellish World!"

'Hellish World!'

In [166]:
x <- "My Hellish World"
x

[1] "My Hellish World"

In [170]:
x <- seq(1, 9)

In [171]:
x

[1] 1 2 3 4 5 6 7 8 9

## Data Types

Below are the data types in R :

In [2]:
# Integer
x <- 2L
typeof(x)

[1] "integer"

In [3]:
# Double
y <- 2.5
typeof(y)

[1] "double"

In [4]:
# Complex
z <- 2 + 3i
typeof(z)

[1] "complex"

In [5]:
# Character
a <- "hi how are you"
typeof(a)
a

[1] "character"

[1] "hi how are you"

In [6]:
# Logical / Boolean
q1 <- T
typeof(q1)

[1] "logical"

In [9]:
Q1 # This does not exists as it is case sensitive.

ERROR: Error in eval(expr, envir, enclos): object 'Q1' not found

In [8]:
q1

[1] TRUE

In [10]:
q2 <- FALSE
typeof(q2)
q2

[1] "logical"

[1] FALSE

## Operations

### Different Mathematical Operators

```
 +
 -
 *
 / 
 %%
 ```

In [11]:
# Sum
A <- 10
B <- 5

C <- A + B
C

[1] 15

In [12]:
# Divide
var1 <- 1.5
var2 <- 2

result <- var1 / var2
result

[1] 0.75

In [13]:
# Remainder
var5 <- 4
var6 <- 3

remainder <- var5 %% var6
remainder

[1] 1

In [14]:
# Square root function
square <- sqrt(var2)
square

[1] 1.414214

In [15]:
# To Add (Concatenate) two character values. 
greeting <- "Hello"
name <- "Bob"

salute <- paste(greeting, name)
salute

[1] "Hello Bob"

### Different Logical Operators

In [17]:
# <
A < B

[1] FALSE

In [18]:
# >
Var3 <- A > B
Var3

[1] TRUE

In [19]:
# ==
Var3 <- A == B
Var3

[1] FALSE

In [37]:
# !=
Var3 <- A != B
Var3

[1] TRUE

In [39]:
# <=
Var3 <- A <= B
Var3

[1] FALSE

In [40]:
# >=
Var3 <- A >= B
Var3

[1] TRUE

In [23]:
# !
Var4 <- !Var3
Var3
Var4

[1] TRUE

[1] FALSE

In [24]:
# isTRUE()
isTRUE(A > B)
isTRUE(A < B)
isTRUE(Var4)

[1] TRUE

[1] FALSE

[1] FALSE

In [25]:
# | - Or Operator
Var3 | Var4

[1] TRUE

In [26]:
# & - And Operator
my_result <- Var3 & Var4
my_result

[1] FALSE

## Loops

In [27]:
# while Loop
counter <- 1
while (counter < 12 ){
  print(counter)  #print function mandatory in loops to print a value
  counter <- counter + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11

In [28]:
# for loop
for(i in 1:5){
  print("Hello R")
}

[1] "Hello R"
[1] "Hello R"
[1] "Hello R"
[1] "Hello R"
[1] "Hello R"

## If Else Construct

In [33]:
# ?rnorm 
x <- rnorm(1)

# Chaining of if-else (preferred)
if (x  > 1){
  answer <- "x is greater than 1"
} else if (x > -1) {
  answer <- "x is between -1 and 1"
} else {
  answer <- "x is less than -1"
}

answer

[1] "x is less than -1"

In [34]:
# Removing Variables 
# ?rm
rm(x)
rm(answer)

In [36]:
x <- rnorm(1)

# Nesting of if-else
if (x  > 1){
  answer <- "x is greater than 1"
} else {
  if (x > -1) {
    answer <- "x is between -1 and 1"
  } else {
    answer <- "x is less than -1"
  }
} 

answer

[1] "x is between -1 and 1"