# Vectors

* A Vector in R is similar to arrays in Java.
* Indexation of Vector in R starts with 1. 
* In R everything is a vector. Even a single number is stored as a vector of length 1.

In [1]:
# Use c (combine) function to create vector
MyFirstVector <- c(2, 5, 8, 9)
MyFirstVector

[1] 2 5 8 9

In [2]:
is.numeric(MyFirstVector)

[1] TRUE

In [4]:
is.integer(MyFirstVector)

[1] FALSE

In [5]:
is.double(MyFirstVector)

[1] TRUE

In [8]:
V2 <- c(22L, 35L, 57L)
is.integer(V2)

[1] TRUE

In [9]:
# Even if one double, the whole numeric Vector considered as Double Vector

V2i <- c(22, 22L, 31L)
is.integer(V2i)
is.double(V2i)

[1] FALSE

[1] TRUE

In [10]:
# R automatically changes a number into character when pushed into a Character Vector. 

V3 <- c("Hello", 7, "99")
V3

[1] "Hello" "7"     "99"

In [11]:
is.character(V3)

[1] TRUE

In [12]:
# seq - Sequence function 

seq(1, 15) # This is similar to 1:15

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [15]:
V4 <- seq(1, 15, 4) #Sequence of numbers from 1 to 15, with a step of 4
V4

[1]  1  5  9 13

In [17]:
# rep - Replicate function 

V5 <- rep("Yo", 5) # Replicates "Yo" 5 times
V5

[1] "Yo" "Yo" "Yo" "Yo" "Yo"

In [18]:
# We can replicate a Vector itself
x <- c(20, 50)
y <- rep(x, 3)
y

[1] 20 50 20 50 20 50

## Subsetting Vectors

In [ ]:
# Accessing Vector's individual data through Brackets (not much used in R)
w <- c('a', 'b', "c", "d", "e")

w[1] # Vector starts with index 1 so this will give first character

In [ ]:
w[0] # Returns a Character Vector of Length 0

In [ ]:
w[7] # Returns NA i.e. Not Available . It signifies missing data

In [ ]:
w[3:5] # Returns subset of Character Vector from position 3 to 5.

In [ ]:
w[-3] # Returns subset except the data at position 3

In [ ]:
rng <- -3:-5
w[rng] # Returns subset vector except the data at position 3, 4 and 5

In [ ]:
w[c(1, 3, 5)] # Returns subset vector with data points at 1, 3 and 5th position

In [ ]:
w[c(2, 6)]

## Vectorized Operations 

**Recycling of Vectors** : While performing any operation between 2 vectors,  if one of the vectors is smaller, then it will recycle with value in smaller vector (duplicates the value starting from the beginning position). 

Vectorized operations are much faster in R as compared to de-vectorized operations.  
**Reason** : R is a high level programming language which acts as wrapper for certain low level languages (Eg. C) to perform the actual task.

In [ ]:
# Run both below appraoches and compare the time
N <- 100000
a <- rnorm(N)
b <- rnorm(N)

# Vectorized approach
c <- a * b

In [ ]:
# De-vectorized approach
d <- rep(NA, N) #Create empty vector

for (i in 1:N) {
  d[i] <- a[i] * b[i]
}

## Functions

### Various standard functions 

```R
x <- c(1, 2, 3, 4) #Combine
y <- seq(1,15,2)   #Sequence
z <- rep("a", 5)   #Replicate

a <- rnorm(50) #Random Number Generation

is.numeric(x)
is.double(y)
is.character(z)
typeof(a)

print(a)

rnorm(5, 10, 8)
b <- sqrt(a) #vectorized operation through functions!
```

**?** Operator calls F1/Help on execution of the statement. We can use this operator to learn more about the functions and their parameters. 

```R
?paste()
?paste
?rnorm()
```